:root {
  --header-color:#ddd;
  --hover-color:#fff;
  --hover-font-size:20px;
  --hover-icon-font-size:2.3rem;
}
aside {
  display: flex;
  flex-direction: column;
}
aside * {
  margin: 1rem 0;
  cursor: pointer;
}
header {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.3rem;
  justify-content: space-between;
}
header * {
  cursor: pointer;
}
#swag-gp-logo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: var(--header-color);
  font-size: 1.3rem;
  color: #1ab6f3;
  padding: 0 0.2rem;
}
#user-icon, #show-chart {
  font-size: 2rem;
  color: #eee;
}
#user-icon:hover, #show-chart:hover {
  color: var(--hover-color);
  font-size: var(--hover-icon-font-size);
}
.user-actions {
  display: flex;
  align-items: center;
}
.user-actions * {
  padding: 0 0.5rem;
}
#about, #donate {
  text-decoration: none;
  color: var(--header-color);
}
#about:hover, #donate:hover {
  color: var(--hover-color);
  font-size: var(--hover-font-size);
}
.invisible {
  display: none;
}
@media (max-width:700px){
  aside {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  aside * {
    margin: 0;
  }
}
@media(max-width:450px){
  .user-actions {
    display: none;
  }
  .invisible {
    display: block;
  }
  aside * {
    font-size: 2rem !important;
  }
}